# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Leave this here! If you need service key, follow these instructions: to get it:
# To get this key, go to Supabase > Project Settings > API > service_role secret key. Don't push this secret key!
# Add to the supabase.admin.token.jsx file:
#   export const service_role_key = "KEY";
supabase.admin.token.jsx
