.container {
	background-color: #f4f4f4;
	width: 100vw;
	min-height: 100vh;
}

.navbar {
	background-color: white;
	padding: 1rem 0;
	border-bottom: 1px solid black;
}

ul {
	color: black;
	margin: 0;
	display: flex;
	align-items: center;
	list-style: none;
}

h1.logo {
	display: inline-block;
	font-size: 2rem;
	flex: 1 1;
	margin: 0;
}

ul > li {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: 1 2;
	font-size: 1.5rem;
	height: 100%;
	padding: 1rem;
	transition: background-color 0.3s ease;
}

.nav-item {
	color: black;
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-item-container:hover {
	background-color: #bbb;
}

.no-hover:hover {
	background-color: transparent;
}

.logout-button {
	background-color: #e74c3c;
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 1rem;
}

.logout-button:hover {
	background-color: #c0392b;
}
